body {
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  height: 200vh;
  background-size:100% auto;
}

#root {
	height: 100%;
}

.App {
  height: 100%;
}

/* Header */
.logo {
  height: 2.5rem;
}

.icon {
  margin-left: 1rem;
}

.header {
  /* #C4ADF4 */
  background-color: rgb(196,173,244, 0.9);
	color: #262A94;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  z-index: 100;
  /* #9A60F2 */
  box-shadow: 0 1rem .5rem -.5rem rgb(154, 96, 242, 0.6);
}

.header-group {
  width: 20%;
  justify-content: space-between;
  align-items: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.nav-link {
  color: #262A94;
}

.nav-link:hover {
  color: #262A94;
  border-bottom: 1px solid #262A94;
}

.request-demo {
  border: 0;
  border-radius: .5rem;
  padding: .2rem .4rem;
  background-image: linear-gradient(#7246CE, #6F39E1, #7246CE);
  color: #FFFFFF;
  font-weight: lighter;
  outline: 0 !important;
  box-shadow: .1rem .1rem rgb(182, 139, 247,0.4);
}

.request-demo:hover {
  box-shadow: .1rem .1rem rgb(111, 57, 225, 0.4);
  background-image: linear-gradient( #B68BF7, #A183E1,  #B68BF7)
}

.sign-in {
  color: rgb(0,0,0,0.4);
}

.sign-in:hover {
  color: rgb(0,0,0,0.6);
}


/* Section One */
.section-one {
  height: 50%;
  background: url("/Design_Assets/SectionOne.png") no-repeat center center fixed;
  display:flex; 
  justify-content: flex-end; 
  flex-direction: column;
}

.floating-header {
  /* #A183E1 to #6F39E1*/
  color: #FFFFFF;
  bottom: 0;
  height: 40%; 
  position: relative;
}

.floating-text {
  /* Alternatively, use svg text */
  /* z-index: 100;
  font-size: 4rem;
  fill: #FFFFFF; */

  position: absolute;
  font-weight: lighter;
  text-align: left;
  letter-spacing: .3rem;
}

.section-one h1 {
  bottom: 4rem;
  left: 8rem;
  width: 40%;
}

/* section-two */
.section-two {
  height: 50%;
  max-width: 100vw;
  padding-top: 8rem;
  position: relative;
}

.section-two h1 {
  color: #262A94;
  text-align: left;
  top: 4rem;
  left: 8rem;
  width: 40%;
}


.screen {
  background-color: transparent;
  width: 60%;
  -webkit-filter: drop-shadow(-.5rem .5rem .5rem rgb(0,0,0,0.4));
  filter: drop-shadow(-.5rem .5rem .5rem rgb(0,0,0,0.4));
}

.diamond {
  background-color: transparent;
  width: 40%;
  -webkit-filter: drop-shadow(-.5rem 0 .5rem rgb(161, 131, 225,0.5));
  filter: drop-shadow(-.5rem 0 .5rem rgb(161, 131, 225,0.5));
}

.footer {
  height: 8rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
  background-image: linear-gradient(to right, rgb(255,255,255, 0.8),  rgb(86, 9, 251,0.8));
}

.section-two-text {
  color: #FFFFFF;
  position: absolute;
  right: 8rem;
  top: 40%;
  max-width: 24%;
  font-weight: 300;
}

.section-two-text p {
  text-align: left;
  float: right;
}